@import "macchiato.css";

* {
    font-family: "Hack Nerd Font Mono";
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
}

#workspaces,
#custom-gpu-usage,
#custom-media,
#cpu,
#memory,
#clock,
#pulseaudio,
#window,
#custom-brightness,
#tray,
#battery,
#custom-power{
    background-color: @mantle;
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 1px;
    margin-bottom: 0px;
}

#workspaces {
    margin-left: 2px;
    margin-right: 5px;
}

#window {
    margin-left: 5px;
    margin-right: 5px;
}

#window,
#custom-power{
    color: @text;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces button {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 2px;
    margin-right: 2px;
    color: @text;
    background-color: @surface0;
    border-radius: 20px;
}

#custom-media {
    color: @mauve;
}

#custom-gpu-usage {
    color: @peach;
}

#custom-brightness {
    color: @maroon;
}

#memory {
    color: @yellow;
}

#battery {
    color: @blue;
}

#battery.discharging.warning {
    color: @peach;
}

#battery.discharging.critical {
    color: @red;
}

#battry.charging {
    color: @green;
}

#clock {
    color: @flamingo;
}

#pulseaudio {
    color: @sapphire;
}

#pulseaudio.muted {
    color: @text;
}

#cpu {
    color: @pink;
}

.modules-right > * > * {
    margin-left: -4px;
    margin-right: -4px;
}


.modules-right > *:first-child > * {
    margin-left: 5px;
    margin-right: -4px;
}

.modules-right > *:last-child > * {
    margin-right: 2px;
    margin-left: -4px;
}

tooltip {
    background-color: black;
}
